
/**display:grid**/
   

[selected="true"] {border-bottom:1px solid rgba(255,186,66,1) !;}
.addToCart {color:white;border:1px solid rgba(16,25,50,1); background-color:rgba(31,40,64,1);font-family:mainfont;padding:8px;padding-left:16px;padding-right:16px;display:inline-block;position:relative;right:1.5em;border-radius:3px;text-decoration:none;font-size:16px;left:0px;}

.sub1 .bantwo {float:left;}
.sub1 .bantwo:nth-child(1) {background-color:rgba(255,186,66,1);}
.sub1 .bantwo:nth-child(2) {line-height:1em;appearance: auto;-webkit-writing-mode: horizontal-tb !important;text-rendering: auto;letter-spacing: normal;word-spacing: normal;text-transform: none;text-indent: 0px;text-shadow: none;display: inline-block;text-align: center;align-items: flex-start;cursor: pointer;box-sizing: border-box;margin: 0em;font: 400 13.3333px Arial;vertical-align:middle;}
.sub1 .bantwo .prod {width:100%;}
.ph1 {font-size:24px;font-family:mainfont;margin:1em;}
.ph2 {font-size:16px;font-family:regular;margin:1em;}
.ph3 {font-size:14px;font-family:regular;margin:1em;font-style:italic;color:royalblue;}
.phv {margin-left:6px;}
.prodinfo .addToCart {top:1px;}

.adder {overflow:hidden;border:1px solid grey;display:inline-flex;font-size:14px;border-radius:2px;}
.adder button {font-family:mainfont;border:1px solid transparent;outline:none;outline-color:transparent;font-size:14px;padding-bottom:8px;padding-top:8px;color:#111;}
.adder .minus {color:#444;border-right:1px solid dimgrey;flex:2;padding-top:10px;font-size:11px;font-family:black;padding-left:8px;padding-right:8px;}
.adder .add {color:#444;border-left:1px solid dimgrey;flex:2;padding-top:10px;font-size:11px;font-family:black;padding-left:8px;padding-right:8px;}
.adder .countz {flex:3;padding-left:12px;padding-right:12px;font-size:13px;}
.total:before {content:"R";}
.total {overflow:hidden;border:1px solid grey;display:inline-flex;font-size:14px;border-radius:2px;padding-left:12px;padding-right:12px;padding-top:8px;padding-bottom:10px;color:#444;margin-left:6px;}

.ph4 {font-size:16px;font-family:black;margin:1em;}
.ph5 {font-size:16px;font-family:regular;margin:1em;line-height:1.5em;}
.ph6 {font-size:16px;font-family:black;margin:1em;}
.ph7 {font-size:16px;font-family:regular;margin:1em;line-height:1.5em;}

.previews {position:relative;display:block;top:4px;width:100%;height:4em;font-size:16px;}
.prev {width:4em;height:4em;border:2px solid rgba(31,40,64,1);margin-left:4px;display:inline-block;opacity:0.7;}
.prv1 {background-image:url(powertank.png);}
.prv2  {background-image:url(powertank2.png);}

.previews .selected {opacity:0.7;border:2px solid rgba(255,186,66,1);}
.prod {transition:all 1s;}

.pfaq {display:block;width:100%;background-color:#eee;float:left;}
.bfh {font-size:15px;font-family:mainfont;margin:16px;color:rgba(31,40,64,1);}
.bfq {outline-color:transparent;font-size:15px;font-family:regular;margin:16px;color:royalblue;}
.qanswer {display:none;height:0px;overflow:hidden;padding:12px;width:calc(100% - 3em);font-family:regular;color:#123;margin-left:16px;}
.bfq:focus + .qanswer {display:block;height:unset;}





