
#content div.mf {font-family:mainfont;}
#content div.mf span.killer {font-size:14px;}
#content div.mf span.stars {font-size:14px;}
#content div.mf span.dator {font-size:14px;}
.rc {border-bottom:1px solid #999;padding-bottom:16px;}