
#content div.mf {font-family:mainfont;}
#content div.mf span.killer {font-size:14px;}
#content div.mf span.stars {font-size:14px;}
#content div.mf span.dator {font-size:14px;}
.rc {border-bottom:1px solid #999;padding-bottom:16px;}
.poy {background-color:white;border:1px solid white;border-bottom:1px solid dimgray;color:dimgray;height:48px;text-align:left;display:block;width:100%;}
#invoice {display:block;}
.summarytotal {font-family:black;font-size:16px;text-align:left;}
.totg {font-size:15px;font-family:regular;margin-top:10px;}
.totg b {font-size:15px;font-family:mainfont;margin-top:10px;font-weight:normal;}
.totg.bib {font-family:black;}
.totg.bil {font-size:12px;}