
/* For mobile phones: */
div#notify {width:100%;left:0px;}
.login_page #signin  input, .login_page #signin  textarea , .select {width:100%;}
  .mmenu {display:block;}
  .dmenu {display:none;}
  .tmenu {display:none;}
  #cart .box {height:60%;width:calc(100% - 3em);}
  .shopping-menu:focus + .omenu {width:calc(100% + 1.5em);}
  .shopping-menu + .omenu .mitem {display:none;}
  .shopping-menu:focus + .omenu .mitem {display:inline-block;}
  .shopping-menu:focus + .omenu:before {opacity:1;background-color:rgba(0,0,0,0.4);height:inherit;width:100%;content:" ";position:fixed;left:calc(-100% - 0em);top:-4px;}
  #content  span {font-size:28px;}
  .banner {width:calc(100% - 1em);}
.bantwo {width:calc(100% - 1em);}
.banthree {width:calc(100% - 1em);}
.banquad {width:calc(100% - 1em);}
#content .banquad span {font-size:32px;}



#content .rr span {display:block;position:absolute;color:white;font-family:mainfont;margin-left:14px;padding-right:2em;text-shadow:0px 0px 2px #555;}
#content .banner span {margin-top:-5em;}


#content .rr span font {font-size:16px;display:inline-block;margin-top:15px;font-family:regular;}
#content .rr span font a {font-size:16px;display:inline;margin-top:8px;font-family:regular;color:rgba(255,186,66,1);}

#content .banner span {margin-top:-6em;}
#content .bantwo span {margin-top:-6em;}
#content .banthree span {margin-top:-7.5em;}
#content .banquad span {margin-top:-5em;}

.rr span {display:inline-block;width:10em;}

#sociallinks {display:block;margin-top:12px;}
#footer .keepin {width:calc(100% - 4em);padding-left:1.15em;}

.sub1 .bantwo h1.flohed .bantwo:nth-child(2) {padding-left:0px;padding-top:2px;}
.spayc {height:64px;}
.spayc2 {height:8px;}

.sub1 .bantwo .prod {width:100%;margin-top:0px;}


@media only screen and (min-width: 600px) {
  /* For tablets: */
  
div#notify {width:80%;left:10%;}
.select, .login_page #signin  input, .login_page #signin  textarea {width:75%;}
  .tmenu {display:block;}
  .dmenu {display:none;}
  .mmenu {display:none;}
  #cart .box {height:65%;width:75%;}
  .shopping-menu:focus + .omenu {width:calc(50% + 4.5em);}
  .shopping-menu:focus + .omenu:before {opacity:1;background-color:rgba(0,0,0,0.4);height:inherit;width:100%;content:" ";position:fixed;left:calc(-50% - 3em);top:-4px;}
	.shopping-menu:blur + .omenu .mitem {display:none;}
	
	
  #content  span {font-size:30px;}
	#content .banquad span {font-size:16px;margin-top:-3em;margin-left:8px;}
	#content .bantwo span {font-size:24px;margin-top:-5em;margin-left:8px;}
	#content .banquad span font {display:none;}
	#content .bantwo span font {font-size:13px;}
	.banner {width:calc(100% - 1em);}
	.bantwo {width:calc(50% - 1em);;}
	.banthree {width:calc(50% - 1em);;}
	.banquad {width:calc(25% - 1em);}



#content .rr span {display:block;position:absolute;color:white;font-family:mainfont;margin-left:14px;padding-right:2em;text-shadow:0px 0px 2px #555;}
#content .banner span {margin-top:-5.5em;}
#content .bantwo span {margin-top:-9em;}
#content .banthree span {margin-top:-8.5em;}
#content .banquad span {margin-top:-8em;}


#content .banner span font {font-size:16px;display:inline-block;margin-top:15px;font-family:regular;}
#content .banner span font a {font-size:16px;display:inline;font-family:regular;color:rgba(255,186,66,1);}

#content .bantwo span font {font-size:16px;display:inline-block;margin-top:15px;font-family:regular;}
#content .bantwo span font a {font-size:16px;display:inline;font-family:regular;color:rgba(255,186,66,1);}

#content .banthree span font {font-size:16px;display:inline-block;margin-top:15px;font-family:regular;}
#content .banthree span font a {font-size:16px;display:inline;font-family:regular;color:rgba(255,186,66,1);}

#content .banquad span font {font-size:12px;display:inline-block;margin-top:12px;font-family:regular;}
#content .banquad span font a {font-size:12px;display:inline;font-family:regular;color:rgba(255,186,66,1);}


#sociallinks {display:inline-block;margin-left:1.5em;margin-top:0px;}

.rr span {display:inline-block;width:8.5em;}
#content .rr {overflow:hidden;}
#footer .keepin {display:inline-block;width:calc(100% - 2em);padding-left:1.9em;text-align:center;}


.sub1 .bantwo h1.flohed .bantwo:nth-child(2) {padding-left:17px;padding-top:10px;}
.spayc {height:20px;}
.spayc2 {height:56px;}

.sub1 .bantwo .prod {width:100%;margin-top:0px;}

}

@media only screen and (min-width: 880px) {
  /* For desktop: */
  
div#notify {width:50%;left:25%;}
.select, .login_page #signin  input, .login_page #signin  textarea {width:50%;}
  .dmenu {display:block;}
  .mmenu {display:none;}
  .tmenu {display:none;}
  #cart .box {height:40%;width:50%;}
  .omenu {display:none;}
  
  
  #content  span {font-size:32px;}
#content .banthree span {font-size:24px;}
#content .banquad span {font-size:20px;}

#content .rr span {display:block;margin-top:-5em;position:absolute;color:white;font-family:mainfont;margin-left:14px;padding-right:2em;text-shadow:0px 0px 2px #555;}


#content .banner span font {font-size:16px;display:inline-block;margin-top:15px;font-family:regular;}
#content .banner span font a {font-size:16px;display:inline;font-family:regular;color:rgba(255,186,66,1);}

#content .bantwo span font {font-size:16px;display:inline-block;margin-top:15px;font-family:regular;}
#content .bantwo span font a {font-size:16px;display:inline;font-family:regular;color:rgba(255,186,66,1);}

#content .banthree span font {font-size:16px;display:inline-block;margin-top:15px;font-family:regular;}
#content .banthree span font a {font-size:16px;display:inline;font-family:regular;color:rgba(255,186,66,1);}

#content .banquad span font {font-size:16px;display:inline-block;margin-top:15px;font-family:regular;}
#content .banquad span font a {font-size:16px;display:inline;font-family:regular;color:rgba(255,186,66,1);}

.rr span {display:inline-block;width:11em;}

#content .banner span {margin-top:-5.5em;}
#content .bantwo span {margin-top:-7em;}
#content .banthree span {margin-top:-7.5em;}
#content .banquad span {margin-top:-6.5em;}
.rr span {display:inline-block;width:11em;}

  .banner {width:calc(100% - 1em);}
.bantwo {width:calc(50% - 1em);}
.banthree {width:calc(33.333333% - 1em);}
.banquad {width:calc(25% - 1em);}
#sociallinks {display:inline-block;margin-top:0px;margin-left:3em;}
#footer .keepin {display:inline-block;width:calc(100% - 2em);padding-left:auto;text-align:center;}

.sub1 .bantwo h1.flohed .bantwo:nth-child(2) {padding-left:17px;padding-top:10px;display:flex;}
.spayc {height:20px;}
.spayc2 {height:56px;}

.sub1 .bantwo .prod {width:100%;margin-top:-16px;}
}